@font-face {
  font-family: "Roboto-Bold";
  src: url("../../../public/fonts/Roboto-Bold.ttf") format("woff2");
}
 
@font-face {
  font-family: "Roboto-Light";
  src: url("../../../public/fonts/Roboto-Light.ttf") format("woff2");
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("../../../public/fonts/Roboto-Medium.ttf") format("woff2");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../../../public/fonts/Roboto-Regular.ttf") format("woff2");
}
