.formManagerWrapper {
  background-color: bisque;
}

.validationError {
  border-color: red;
}

.errorMessage {
  opacity: 0;
  color: red;
  font-size: 2rem;
  text-align: center;
  margin-top: 4px;
  transition: opacity 0.3s ease;

  &--visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.successMessage {
  opacity: 0;
  color: green;
  font-size: 2rem;
  text-align: center;
  margin-top: 4px;
  transition: opacity 0.3s ease;

  &--visible {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
}

.formManager {
  --formWidth: 121.25rem;
  --formHeight: 95.5rem;
  --formTitleFontSize: 5rem;
  display: flex;
  flex-direction: row;
  width: var(--formWidth);
  height: var(--formHeight);
  padding: 5rem 0;
  z-index: 100;

  &__contactMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 30%;
    background-color: var(--colorBrunswickGreen);
    border-radius: 0rem 1rem 1rem 0rem;

    &__title {
      font-size: var(--formTitleFontSize);
      text-align: center;
    }

    &__socialNetworks {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px #fff solid;
        border-radius: 11rem;
        padding: 1rem;
        width: 10%;
        height: 100%;
        transition: all 0.3s ease;
        aspect-ratio: 1 / 0.4;

        &:hover {
          background-color: #fff;
          transition: all 0.3s ease;
        }
      }
    }
  }

  &__bookService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: var(--colorPlatinum);
    gap: 3rem;
    border-radius: 1rem 0rem 0rem 1rem;

    &__title {
      font-size: var(--formTitleFontSize);
    }

    &__form {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 5rem;

      &__label {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;

        &__select {
          width: 100%;
          padding: 1.5rem;
          border-radius: 1rem;
          border: none;
          font-size: 2rem;
          color: rgba(0, 0, 0, 0.6);
          outline: none;

          &__option {
            font-size: 2rem;
          }
        }

        label {
          font-size: 2rem;
          color: #000;
          opacity: 0.6;
        }

        input {
          font-size: 2rem;
          border: none;
          background-color: transparent;
          outline: none;
          border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
          width: 100%;
          text-align: right;
        }
      }

      &__submitBtn {
        cursor: pointer;
        margin: 0 auto;
        height: 5rem;
        border: none;
        border-radius: 2rem;
        width: 60%;
        color: var(--colorBrunswickGreen);
        font-size: 2rem;
        font-weight: 600;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--colorBrunswickGreen);
          color: var(--colorSilver);
          transition: all 0.3s ease;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .formManager {
    --formTitleFontSize: 3rem;
    width: 90%;
  }
}

@media (max-width: 730px) {
  .formManager {
    --formHeight: 80rem;
  }
}

@media (max-width: 560px) {
  .formManager {
    flex-direction: column;

    &__contactMe {
      width: 100%;
      padding: 3rem 0;
    }

    &__bookService {
      width: 100%;
      padding: 3rem 0;
    }
  }
}
