.mainPage__header {
  --mainPageHeaderTitleMarginLeft: -15rem;
  --mainPageHeaderTitleMarginTop: 25%;
  --mainPageHeaderTitleFontSize: 6rem;
  --mainPageHeaderTitleFontFamily: "Roboto-Medium";
  --mainPageHeaderTitleMaxWidth: 100rem;
  --mainPageHeaderTitleMarginLeft: -15rem;
  --sectionTitleMaxWidth: 100rem;

  height: 100vh;
  background: url("../../../public/assets/headerBackground1.jpg") no-repeat;
  background-position: 50% 20%;
  background-size: 100%;

  &__title {
    margin-left: var(--mainPageHeaderTitleMarginLeft);
    position: relative;
    margin-top: var(--mainPageHeaderTitleMarginTop);
    max-width: var(--sectionTitleMaxWidth);
  }
}

/* адаптивные стили */
@media (max-width: 1400px) {
  .mainPage__header {
    --mainPageHeaderTitleMarginLeft: 0;
    --mainPageHeaderTitleMarginTop: 30%;
  }
}

@media (max-width: 890px) {
  .mainPage__header {
    --mainPageHeaderTitleMarginTop: 40%;
  }
}

@media (max-width: 520px) {
  .sectionTitle {
    --sectionTitleFontSize: 4rem;
  }

  .mainPage__header {
    background-size: 150%;
    --mainPageHeaderTitleMarginTop: 90%;
  }
}

@media (max-width: 375px) {
  .mainPage__header {
    background-size: 180%;
  }
}
